.header-bg {
  background-image: url("/Website_Gaming_Picture_Basti.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 65vh;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

.nav menu {
  min-height: 10vh;
  width: 95%;
  margin: 0 auto;
  padding: 1rem 0;
}

.st0 {
  /*Hintergrund Navi*/
  fill: #cf3711;
  display: flex;
  position: relative;
}

.st1 {
  /*Navi Leer*/
  fill: none;
}

.st2 {
  /*Home*/
  fill: #cf3711;
  display: flex;
  position: relative;
}

.st2:hover {
  fill: white;
}

.st3 {
  /*Games*/
  fill: #cf3711;
  display: flex;
  position: relative;
}

.st3:hover {
  fill: white;
}

.st4 {
  /*Team*/
  fill: #cf3711;
  display: flex;
  position: relative;
}
.st4:hover {
  fill: white;
}

.st5 {
  /*Forum*/
  fill: #cf3711;
  display: flex;
  position: relative;
}
.st5:hover {
  fill: white;
}

.background {
  background-image: url("/Background.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;
}
/* Mobile Navigationsleiste  */
.mobile-nav {
  display: none;
}

.flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem;
}

.header,
.main {
  flex: 1 1 40rem;
  z-index: 0;
}

.menu-svg {
  z-index: 1;
}

.scrollbar {
  font-size: calc(2rem + 1 vh);
  color: white;
  display: grid;
  grid-template-areas:
    "box4 box1 box2"
    "box4 box3 box3"
    "box4 box5 box5";
  grid-gap: 1rem;
  padding: 1rem;
}
.box1 {
  background-color: #631a0786;
  grid-area: box1;
}

.box2 {
  background-color: #631a0786;
  grid-area: box2;
}

.box3 {
  background-color: #631a0786;
  grid-area: box3;
}

.box4 {
  background-color: #631a0786;
  grid-area: box4;
}
.box4 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.box5 {
  background-color: #631a0786;
  grid-area: box5;
}
.box5 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footer {
  padding: 2rem;
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #cf3711;
  font-size: large;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  z-index: 2;
  list-style: none;
  /*drop down menu*/
}
.modal_container {
  display: none;
}
.modal_container.active {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 10vh;
  z-index: 4;
}
.flex.modal-active {
  filter: blur(0.4rem);
}
.modal_box {
  position: center;
  padding: 10rem;
  font-size: calc(3rem + 1vh);
}

/*drop down menu end*/
@media all and (max-width: 674px) {
  .header-bg {
    background-size: contain;
  }
}
@media all and (max-width: 1150px) {
  body {
    background: url("/img/Background.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .flex {
    flex-direction: column;
    justify-content: flex-start;
    gap: 0;
  }
  .header,
  .main {
    flex: 1 1 15rem;
    z-index: 0;
  }
  .vector-nav {
    display: none;
  }
  .mobile-nav {
    display: flex; /* Flexibles Design */
    flex-flow: row wrap; /* row= in einer reihe, column= untereinander : wrap= anordnen*/
    justify-content: space-between;
    align-items: center;
    min-height: 10vh;
    padding: 0 2rem;
    background-color: #cf3711;
    list-style: none;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-size: large;
  }
  .mobile_menu-item a {
    color: rgb(245, 186, 118);
  }
  .mobile_menu-item a:hover {
    color: white;
  }
  .vector-nav {
    display: none;
  }
  #logo-mobile {
    background-color: white;
  }
  .mobile_menu-item:first-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
  }
  .scrollbar {
    display: flex;
    flex-flow: wrap;
    font-size: large;
    color: white;
    display: column;
  }
  .box1 {
    background-color: #631a0786;
  }

  .box2 {
    background-color: #631a0786;
  }

  .box3 {
    background-color: #631a0786;
  }

  .box4 {
    display: flex;
    background-color: #631a0786;
  }
  .box5 {
    display: flex;
    background-color: #631a0786;
  }
}
